<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<h2 class="mt-4" style="text-align: center; font-family: 'Kosugi Maru', sans-serif;">査定リスト</h2>

<div class="posts-wrapper" >
<%= search_form_for @q, class: "mb-5" do |f|%>
  <div class= "form-row" >
    <div class= "col-sm-3" >
      <%= f.label :user_id_eq, "社員名", { class: "col-sm-5 col-form-label" } %>
        <%= f.collection_select :user_id_eq, @users, :id, :name, { :include_blank => "指定なし" }, class: "form-control" %>
    </div>
    <div class="col-sm-3" >
      <%= f.label :parking_present_eq, "駐車場運営", { class: "col-sm-5 col-form-label" } %>
      <%= f.select :parking_present_eq, [["有", "true"], ["無", "false"]], {:include_blank => "指定なし" }, {class: "form-control"} %>
    </div>
  <div>
  <div class="form-group">
    <%= f.submit "検索", {class: "btn btn-primary"} %>
  </div>
<% end %>
  <%= paginate @posts %>
    <table style="table-layout:fixed;width:100%;", class="table table-hover boards__table">
      <thead class="thead">
        <tr>
          <th class="a">NO</th>
          <th class="b">氏名</th>
          <th class="c">メール</th>
          <th class="d">住所</th>
          <th class="e">運営</th>
          <th class="f">賃料<br>(¥/月)</th>
          <th class="g">駐車台数</th>
          <th class="h">担当者</th>
          <th class="i">特記事項<br>(顧客用)</th>
          <th class="j">特記事項<br>(社員用)</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= link_to post.client_name, post_path(post) %></td>
            <td><%= post.email %></td>
            <td><%= post.parking_address %></td>
            <td><%= post.parking_present? ? "有" : "無" %></td>
            <td><%= post.rent %></td>
            <td><%= post.parking_possible_number %></td>
          <% if post.user.present? %>
            <td><%= post.user.name %></td>
          <% else %>
            <td>なし</td>
          <% end %>
            <td><%= post.client_textarea %></td>
            <td><%= post.user_textarea %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
