  <!-- Page Content -->
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>
<div class="container-fluid"> 
  <h1 class="mt-4" style="text-align: center;font-family: 'Roboto', sans-serif;">minaos</h1>
  <h3 class="mt-1" style="text-align: center;font-family: 'Roboto', sans-serif;">駐車場見直し本舗</h3>
  <div class="post-form">
    <%= form_with model: @post, local: true, url: confirm_new_post_path do |f| %>
      <div class="form-group">
        <h6> 1.氏名をご記入ください。 <span class="badge-pill badge-danger"><font size="-1">必須</font><span></h6>
        <%= f.text_field :client_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <h6> 2.メールアドレスをご記入ください。 <span class="badge-pill badge-danger"><font size="-1">必須</font><span></h6>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, '3.ご連絡先(携帯番号)をご記入ください。' %><br>
        <sp><font size="-1">※半角で入力してください。</font></sp><br>
        <sp><font size="-1">※ハイフンは入力しないでください。</font></sp>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :near_station, '4.駐車場の最寄駅をご記入ください。' %>
        <%= f.text_field :near_station, class: 'form-control' %>
      </div>

      <div class="form-group">
        <h6> 5.駐車場の住所をご記入ください。 <span class="badge-pill badge-danger"><font size="-1">必須</font><span></h6>
        <%= f.text_field :parking_address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :parking_present, '6.現在、駐車場運営の有無をお選びください。', {class: 'form-label'} %>
        <div class="input-group mb-3" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" style="width:50%">
            <%= f.radio_button :parking_present, true, {checked: true} %> 有
          </label>
          <label class="btn btn-outline-secondary" style="width:50%">
            <%= f.radio_button :parking_present, false, {} %> 無
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :contract_company, '7.契約している会社名をご記入ください。' %>
        <%= f.text_field :contract_company, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :period, '8.運営期間をご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <%= f.select :year_period, options_for_select(0..15),  { :prompt => "選択してください" }, {class: 'custom-select'} %>
          <div class="input-group-append">
            <span class="input-group-text">年</span>
          </div>
          <%= f.select :month_period, options_for_select(0..12), { :prompt => "選択してください" }, {class: 'custom-select'} %>
          <div class="input-group-append">
            <span class="input-group-text">ヶ月</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :midterm_cancellation, '9.中途解約金の有無をお選びください。', {class: 'form-label'} %>
        <div class="input-group mb-3" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" style="width:50%">
            <%= f.radio_button :midterm_cancellation, true, {checked: true} %> 有
          </label>
          <label class="btn btn-outline-secondary" style="width:50%">
            <%= f.radio_button :midterm_cancellation, false, {} %> 無
          </label>
        </div>

      <div class="form-group">
        <%= f.label :cancellation_period, '10.解約告知期間をご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <%= f.select :cancellation_period, options_for_select(0..12), { :prompt => "選択してください" }, {class: 'custom-select'} %>
          <div class="input-group-append">
            <span class="input-group-text">ヶ月</span>
          </div>
        </div>
      </div>

        <div class="form-group">
        <%= f.label :cancellation_money, '11.中途解約金がある場合はご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">¥</span>
          </div>
          <%= f.text_field :cancellation_money, class: 'form-control' %>
          <div class="input-group-append">
            <span class="input-group-text">円</span>
          </div>
        </div>

      <div class="form-group">
      <%= f.label :rent, '12.現在の1ヶ月賃料をご記入ください。', {class: 'form-label'} %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">¥</span>
        </div>
        <%= f.text_field :rent, class: 'form-control' %>
        <div class="input-group-append">
          <span class="input-group-text">円/月</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :tax_type, '13.税区分をお選びください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <%= f.select :tax_type, [["税込","税込"], ["税抜","税抜"], ["非課税","非課税"]],{ :prompt => "選択してください" }, {class: "custom-select"} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :land_estate, '14.現在の土地の状況をお選びください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <%= f.select :land_estate, [["更地","更地"], ["アスファルト","アスファルト"], ["砂石","砂石"], ["建物下","建物下"], ["その他(※16.備考欄にご記入ください)","その他"]], { :prompt => "選択してください" }, {class: "custom-select"} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :parking_possible_number, '15.駐車可能な台数をご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3">
          <%= f.text_field :parking_possible_number, class: 'form-control' %>
          <div class="input-group-append">
            <span class="input-group-text">台</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :parking_size, '16.駐車場の面積をご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3" >
          <%= f.text_field :parking_size, class:"form-control", style:"width:85%" %>
          <%= f.select :parking_size_unit, [["平米","平米"], ["坪","坪"]], {:prompt => "-"} , class:"input-group-text", style:"width:15%" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :date, '17.契約希望期間をご記入ください。', {class: 'form-label'} %>
        <div class="input-group mb-3" >
          <div class="input-group-prepend">
            <span class="input-group-text">開始</span>
          </div>
          <%= f.date_field :start_date, {class: "form-control"} %>
          <div class="input-group-prepend">
            <span class="input-group-text">終了</span>
          </div>
          <%= f.date_field :end_date, {class: "form-control"} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :desired_rent, '18.希望の1ヶ月賃料をご記入ください。', {class: 'form-label'} %>
        <p><font size="-1">※ご希望に添えない場合がございます。</font></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">¥</span>
          </div>
          <%= f.text_field :desired_rent, {class: 'form-control'} %>
          <div class="input-group-append">
            <span class="input-group-text">円/月</span>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :client_textarea, '19.その他特記事項（ご相談・お悩みなど）', {class: 'form-label'} %><sp><font size="-1">※250字以内</font></sp>
          <div class="input-group mb-3">
            <%= f.text_area :client_textarea, :placeholder => "今後の展望等ございましたらご記入ください。", rows: 5, class: "form-control" %>
          </div>
        </div>

        <div class="regist-form">
          <%= f.submit "確認する", {class: "btn btn-primary"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

