<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<h2 class="mt-4" style="text-align: center;">ユーザーリスト</h2>
<div class="users-wrapper">
  <%= link_to 'ユーザー追加', new_admin_user_path, class: "btn btn-primary" %>
  <div class='users-list'>
    <table class="table table-hover users__table">
      <thead class="thead">
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>管理者権限</th>
          <th>メールアドレス</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.admin? ? 'あり ' : 'なし '%></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-info' %>
              <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>