<div class="header-bar" style="font-family:'Kosugi Maru', sans-serif;">
  <button class="fas fa-bars fa-2x" id="menu-toggle"></button>
  <ul class="header-bar-list">
    <% if @current_user %>
    <li>
      <%= link_to 'ユーザーリスト', admin_users_path, class: 'btn btn-primary' %>
    </li>
    <li>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-primary' %>
    </li>
    <li>
      <i class="far fa-user-circle fa-2x" style="color: #75A9FF;"><span style= "font-size: 24px; font-family:'Kosugi Maru', sans-serif;"><%= @current_user.name %></span></i>
    </li>
    <% else %>
    <li><%= link_to 'かんたんログイン', testsessions_path, method: :post, class: 'btn btn-primary' %></li>
    <li><%= link_to 'ログイン', login_path, class: 'btn btn-primary' %></li>
    <% end %>
  </ul>
</div>